<!-- <div style="display: flex; justify-content: center;">
    <form action="/create" method="post">
        <input type="date" name="date">
        <input type="text" name="data" placeholder="Enter data" required>
        <input type="submit">
    </form> -->

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <form action="/create" method="post" style="display: flex; align-items: center; gap: 10px;">
        <input type="date" name="date" style="padding: 10px; border-radius: 5px; border: 1px solid #ccc; width: 150px;">
        <input type="text" name="data" placeholder="Enter data" required
            style="padding: 10px; border-radius: 5px; border: 1px solid #ccc; flex-grow: 1;">
        <input type="submit" value="Submit"
            style="padding: 10px 15px; background-color: #3E42FA; color: white; border: none; border-radius: 5px; cursor: pointer;">
    </form>
</div>